* {
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

main {
  flex: 1;
  display: flex;
  min-height: 0;
}

.menuButton {
  background-color: #239b76;
  width: 120px;
  padding: 10px;
  opacity: 0.7;
  border-radius: 4px;
  color: white;
}

.menuButton:hover {
  opacity: 1;
}

.nowMenuButton {
  background-color: #239b76;
  border:3px solid #008000;
  border-radius: 4px;
  width: 120px;
  padding: 10px;
  color: white;
}

nav {
  width: 180px;
  background-color: #f2f2f2;
  padding: 1rem;
  border-right: 1px solid #ccc;
}

nav a {
  display: block;
  margin: auto;
  margin-bottom: 1rem;
  color: #333;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

section {
  flex: 1;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  overflow-y: auto;
}

section h2{
  text-align: center;
}

table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 0.6rem;
  text-align: left;
}

.formTable{
  width: 60%;
  display: block;
  font-size: 0.8rem;
}

.formTable th,
.formTable td{
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  padding: 0.8rem;
}

.formTable th{
  width: 120px;
  background: #ffecea;
  white-space: nowrap;
  position: relative;
  text-align: center;
}

.formTable select{
  width: 120px;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
}

thead {
  background-color: #e9e9e9;
}

button{
  display: block;
  background-color: #e9e9e9;
  width: 100px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 4px;
  color: black;
}

@media (max-width: 600px) {
  main {
    flex-direction: column;
  }

  nav {
    width: 100%;
    display: flex;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }

  nav a {
    width: 80px;
    margin: auto;
  }

  .formTable{
    width: 100%;
  }
}
